/***************************************

Design and coded by Russell John Gapasin
Author URL: www.rjgapasin.com

****************************************/

@font-face {
    font-family: 'Komoda';
    src: url('../fonts/Komoda-Regular.woff2') format('woff2'),
         url('../fonts/Komoda-Regular.woff') format('woff'),
         url('../fonts/Komoda.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ikaros Light';
    src: url('../fonts/Ikaros-Light.woff2') format('woff2'),
         url('../fonts/Ikaros-Light.woff') format('woff'),
         url('../fonts/Ikaros-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ikaros Regular';
    src: url('../fonts/Ikaros-Regular.woff2') format('woff2'),
         url('../fonts/Ikaros-Regular.woff') format('woff'),
         url('../fonts/Ikaros.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url('../img/patterns/TC_pattern_B2.jpg');
  padding: 0;
  margin: 0;
  font-family: 'Ikaros Light';
  font-size: 1em;
  color: #d7cfcd;
  line-height: 1.4;
  letter-spacing: 2px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Komoda';
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 1.5;
}
p {
  font-family: 'Ikaros Light';
  letter-spacing: 2px;
  line-height: 1.4;
  font-size: 1.1em;
}
a {
  text-decoration: none !important;
  color: #eee;
}
a:hover {
  color: #999;
}
hr {
  border-top: 2px groove #c4a944 !important;
  width: 3em;
}
.bgcolor-primary {
  -webkit-background-color: #023821;
  background-color: #023821;
  color: #d7cfcd;
}
.bgcolor-secondary {
  -webkit-background-color: #eee;
  background-color: #eee;
  color: #023821;
}
.color-primary {
  color: #d7cfcd;
}
.color-secondary {
  color: #023821;
}
.heading {
  font-size: 2.7em !important;
  line-height: 1.2 !important;
}
.center {
  text-align: center !important;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.justify {
  text-align: justify !important;
}
.subheading {
  text-transform: uppercase;
  text-align: center !important;
  font-size: 0.9em;
}
#map {
	width: 100%;
	height: 65vh;
}
.image-heading-contact {
  background-image: url('../img/background/unsplash_img3.jpg');
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
  height: 60vh;
}
.image-heading-menu {
  background-image: url('../img/background/unsplash_img10.jpg');
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
  height: 60vh;
}
.image-heading-about {
  background-image: url('../img/background/unsplash_img16.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
  height: 60vh;
}
@media only screen and (max-width: 768px) {
  .image-heading-contact,
  .image-heading-about,
  .image-heading-menu {
    height: 40vh;
  }
  .image-heading-contact h1,
  .image-heading-about h1,
  .image-heading-menu h1 {
    margin-top: 100px !important;
  }
}
.image-heading-contact h1,
.image-heading-about h1,
.image-heading-menu h1 {
  margin-top: 150px;
  font-size: 3.5em;
  color: #eee;
}
@media (max-width: 992px) { .rellax { transform: translate3d(0,0,0) !important; } }

/* preloader section */
.preloader  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: none repeat scroll 0 0 #15321f;
}
.sk-spinner-pulse {
  width: 200px;
  height: 200px;
}
.sk-spinner-pulse img {
  -webkit-animation: spin 4s linear 0s infinite;
          animation: spin 4s linear 0s infinite;
}

/* animation */
@-webkit-keyframes fadeInLeftShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeftShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRightShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes arrowDown {
  0%   {transform: translateY(-5px);}
  50%  {transform: translateY(5px);}
  100%  {transform: translateY(0px);}
}
@keyframes arrowDown {
  0%   {transform: translateY(-5px);}
  50%  {transform: translateY(5px);}
  100%  {transform: translateY(0px);}
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.fadeInLeftShort {
  -webkit-animation-name: fadeInLeftShort;
  animation-name: fadeInLeftShort;
}
.fadeInRightShort {
  -webkit-animation-name: fadeInRightShort;
  animation-name: fadeInRightShort;
}
.delay-300ms {
  animation-delay: 0.3s;
}
.delay-400ms {
  animation-delay: 0.4s;
}
.delay-500ms {
  animation-delay: 0.5s;
}
.delay-600ms {
  animation-delay: 0.6s;
}
.delay-700ms {
  animation-delay: 0.7s;
}
.delay-800ms {
  animation-delay: 0.8s;
}

/* form style */
form {
  margin-top: 25px;
}
form input{
  width: 100%;
  padding: 12px;
  display: block;
  letter-spacing: 2px;
  border: 2px solid #d7cfcd;
  outline: none;
}
form textarea {
  width: 100%;
  padding: 12px;
  display: block;
  letter-spacing: 2px;
  border: 2px solid #d7cfcd;
  outline: none;
}
form input:focus, form textarea:focus {
  outline: 2px solid #a79a6e;
}
.btn {
  display: block !important;
  margin-top: 25px;
  border-radius: 0 !important;
  padding: 12px !important;
}
.button-primary {
  -webkit-background-color: #398158 !important;
  background-color: #398158 !important;
  color: #eee !important;
  transition: all 0.3s ease-in-out;
  font-family: 'Ikaros Light';
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: 1px solid #d7cfcd !important;
  outline-offset: -0.4em !important;
}
.button-primary:hover {
  transform: translateY(-3px);
  filter: brightness(80%);
  color: #eee !important;
}
.button-secondary {
  -webkit-background-color: #a79a6e !important;
  background-color: #a79a6e !important;
  color: #eee !important;
  border: 2px solid #a79a6e;
  transition: all 0.3s ease-in-out;
  font-family: 'Ikaros Light';
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button-secondary:hover {
  transform: translateY(-3px);
  /* -webkit-background-color: #a79a6e !important;
  background-color: #a79a6e !important; */
  filter: brightness(80%);
  color: #eee !important;
}
.button-small {
  padding: 10px 20px !important;
}

.home, .subscription, .menu-section, .message {
  padding-top: 80px;
  padding-bottom: 80px;
}
.overlay {
  position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  -webkit-background-color: rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 0;
}
.overlay-dark {
  position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  -webkit-background-color: rgba(23, 37, 42, 0.85);
  background-color: rgba(34, 38, 41, 0.85);
	z-index: 0;
}
@media only screen and (min-width: 768px) {
  .side-image {
    height: 550px;
    max-height: 550px;
    clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
  }
  .side-image-right {
    height: 550px;
    max-height: 550px;
    clip-path: polygon(60% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media only screen and (max-width: 768px) {
  .side-image {
    height: 450px;
    max-height: 450px;
  }
}

/* navbar */
.navbar {
  font-family: 'Ikaros Light' !important;
  font-size: 1em;
}
@media only screen and (min-width: 768px) {
  .navbar img {
    width: 40%;
  }
  .navbar-brand {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar img {
    width: 110%;
  }
  .navbar-collapse {
    background-color: rgba(2,56,33,0.8);
  }
}
.navbar-nav .nav-item:not(:last-of-type):hover {
  border-bottom: 3px solid #a79a6e;
  transition: 0.3s ease;
}
.navbar-toggler {
  padding: .50rem 1rem !important;
  border-radius: 0px !important;
  outline: none !important;
}
.navbar-brand {
	width: 40%;
}
.nav-item.social a {
  display: inline-block;
  padding-right: 0.3em;
  color: #92acb1 !important;
  transition: 0.3s ease;
}
.nav-item.social a:hover {
  color: #eee !important;
}

/* modal */
.modal-body {
  -webkit-background: url('../img/patterns/TC_pattern_B.jpg') 20% 0 repeat fixed;
  background: url('../img/patterns/TC_pattern_B.jpg') 20% 0 repeat fixed;
  -webkit-background-size: contain;
  background-size: contain;
}
.modal-body p {
  z-index: 2;
}
.modal .btn {
  font-size: 1em;
  margin: 0;
}
.modal span {
  color: #eee !important;
}
.modal-body-content .close {
  opacity: 1 !important;
  float: none;
}
.modal-body-content {
  -webkit-background-color: rgba(238, 238, 238, 0.75);
  background-color: rgba(238, 238, 238, 0.75);
  outline: 6px double #023821;
  outline-offset: -0.4em;
  color: #1a1a1d;
}

/* carousel */
.carousel {
  height: 100vh !important;
}
.carousel-item {
  height: 100vh !important;
  width: 100%;
}
.carousel-content {
  -webkit-background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
  border: 4px groove #eee;
  margin-top: 30vh;
  padding: 50px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 7% !important;
}
#image1 {
  background-image: url('../img/background/unsplash_img21.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#image2 {
  background-image: url('../img/background/unsplash_img9.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#image3 {
  background-image: url('../img/background/tell_camellia_shelf.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* story */
.story {
  position: relative;
  color: #d7cfcd;
}
.story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story-content {
  padding: 5rem 1.5rem;
}
.story-content p{
  text-align: center;
  line-height: 1.8;
}

/* about */
.about {
  position: relative;
}
.about-section {
  background-color: rgba(74, 105, 85, 0.8);
  outline: 2px solid #eee;
  outline-offset: -1em;
}

/* menu */
.menu {
  position: relative;
  -webkit-background-color: #fff;
  background-color: #fff;
  color: #15321f;
}
.menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu p {
  line-height: 1.5;
}
.menu-drinks-section {
  margin-top: 40px;
  padding: 0 70px;
}
.drinks-category {
  border: 5px double #15321f;
  color: #15321f;
  padding: 12px;
  margin-bottom: 60px;
  width: 60%;
}
.drinks {
  margin-bottom: 40px;
}
.drinks-name {
  color: #1a1a1d;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.8 !important;
}
.drinks-info {
  color: #999;
  font-size: 1em;
  line-height: 0.8 !important;
}

/* drink */
.drink {
  /* background-image: url('../img/patterns/TC_pattern_B2.jpg'); */
  /* background-color: #023821; */
  background-color: #335442;
  color: #eee;
  position: relative;
}
.drink p {
  line-height: 1.8;
  padding: 0 3rem;
}
.drink img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.drink-section {
  /* background-color: rgba(74, 105, 85, 0.6); */
  /* background-color: rgba(125, 207, 205, 0.5); */
  /* background-color: rgba(51, 84, 66, 0.6); */
  /* height: 400px; */
}
.drink-section .col-md-8 {
  background-color: rgba(74, 105, 85, 0.6);
  /* outline: 2px solid #d7cfcd; */
  outline: 2px solid #023821;
  outline-offset: -1em;
}
.drink-section .col-md-4 {
  background-color: rgba(74, 105, 85, 0.6);
}

/* team */
.team {
  position: relative;
}
.team-section {
  background-color: rgba(74, 105, 85, 0.6);
  height: 70vh;
  max-height: 70vh;
  padding: 70px;
  outline: 2px solid #92acb1;
  outline-offset: -1.5em;
}
.team-section img {
  width: 100%;
  height: 50vh;
}

/* team member */
.team-member {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .team-member img {
    width: 100% !important;
  }
  .team-member-info {
    height: auto !important;
    text-align: center !important;
  }
}
.team-member img {
  display: block;
  max-width: 100%;
  max-height: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-member-info {
  background-color: #335442;
  height: auto;
}
.team-member h1 {
  line-height: 0.8 !important;
}
.team-member p {
  line-height: 1.8;
}
.title {
  color: #c4a944 !important;
  font-size: 1.3em;
}

/* contact */
.contact {
  color: #eee;
  position: relative;
  width: 100%;
}
.contact a {
  color: #eee;
}
.contact p {
  font-size: 1em;
}
.contact-info {
  background-color: rgba(74, 105, 85, 0.8);
  outline: 2px solid #eee;
  outline-offset: -1em;
}
.contact-info h2 {
  font-size: 2.4em;
  line-height: 1 !important;
}
.contact-info i {
  font-size: 1.2em;
}
.contact-info a:hover {
  color: #999;
  transition: 0.3s ease;
}

/* location */
.location {
  -webkit-background-color: #335442;
  background-color: #335442;
  color: #eee;
}

/* subscription */
.subscription {
  -webkit-background: url('../img/background/unsplash_img1.jpg');
  background: url('../img/background/unsplash_img1.jpg');
  color: #eee;
  position: relative;
  -webkit-background-size: cover;
  -webkit-background-position: center;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* footer */
footer {
  -webkit-background-color: #023821;
  /* background-color: #023821; */
  background-color: #335442;
  color: #eee;
  padding: 40px 0;
}
footer p {
  font-size: 1.1em;
}
.footer-subsection {
  padding: 30px 20px;
}
footer h3 {
  font-size: 2.5em;
}

/* social icons */
.social-icon {
  padding: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.social-icon li a {
  -webkit-background: #fff;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #5c5c5c;
  color: #023821;
  font-size: 14px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-top: 12px;
  margin-right: 16px;
  top: 0;
  position: relative;
  padding: 0;
}
.social-icon li a:hover {
  transform: translateY(-5px);
  filter: brightness(80%);
}

/* copyright section */
.copyright {
  -webkit-background-color: #1a1a1d;
  background-color: #222629;
  color: #eee;
  padding: 10px 0;
  text-align: center;
  font-size: 0.8em;
}
.copyright .heading {
  font-size: 1.8em !important;
}
