/***************************************

Design and coded by Russell John Gapasin
Author URL: www.rjgapasin.com

****************************************/

@font-face {
    font-family: 'Komoda';
    src: url('../fonts/Komoda-Regular.woff2') format('woff2'),
         url('../fonts/Komoda-Regular.woff') format('woff'),
         url('../fonts/Komoda.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ikaros Light';
    src: url('../fonts/Ikaros-Light.woff2') format('woff2'),
         url('../fonts/Ikaros-Light.woff') format('woff'),
         url('../fonts/Ikaros-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url('../img/patterns/TC_pattern_B2.jpg');
  padding: 0;
  margin: 0;
  font-family: 'Ikaros Light';
  font-size: 1em;
  color: #d7cfcd;
  line-height: 1.4;
  letter-spacing: 2px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Komoda';
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 1.5;
}
p {
  font-family: 'Ikaros Light';
  letter-spacing: 2px;
  line-height: 1.4;
  font-size: 1.1em;
}
a {
  text-decoration: none !important;
  color: #eee;
}
a:hover {
  color: #c4a944;
}
button a:hover {
  color: #eee;
}
hr {
  border-top: 2px groove #c4a944 !important;
  width: 3em;
}
.bgcolor-primary {
  -webkit-background-color: #023821;
  background-color: #023821;
  color: #d7cfcd;
}
.bgcolor-secondary {
  -webkit-background-color: #eee;
  background-color: #eee;
  color: #023821;
}
.bgcolor-black {
  -webkit-background-color: #000 !important;
  background-color: #000 !important;
}
.color-primary {
  color: #d7cfcd;
}
.color-secondary {
  color: #023821;
}
.heading {
  font-size: 2.7em !important;
  line-height: 1.2 !important;
}
.center {
  text-align: center !important;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.justify {
  text-align: justify !important;
}
.subheading {
  text-transform: uppercase;
  text-align: center !important;
  font-size: 0.9em;
}
#map {
	width: 100%;
	height: 65vh;
}
.image-heading-contact {
  background-image: url('../img/venue/TC_interior.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
  height: 60vh;
}
.image-heading-menu {
  background-image: url('../img/venue/TC_wine&tea_collection.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
  height: 60vh;
}
.image-heading-about {
  background-image: url('../img/about/team_photo.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
  height: 60vh;
}
@media only screen and (max-width: 768px) {
  .image-heading-contact,
  .image-heading-about,
  .image-heading-menu {
    height: 40vh;
  }
  .image-heading-contact h1,
  .image-heading-about h1,
  .image-heading-menu h1 {
    margin-top: 100px !important;
  }
}
.image-heading-contact h1,
.image-heading-about h1,
.image-heading-menu h1 {
  margin-top: 150px;
  font-size: 3.5em;
  color: #eee;
}
/* @media (max-width: 992px) { .rellax { transform: translate3d(0,0,0) !important; } } */

/* animation */
@-webkit-keyframes fadeInLeftShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeftShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRightShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInLeftShort {
  -webkit-animation-name: fadeInLeftShort;
  animation-name: fadeInLeftShort;
}
.fadeInRightShort {
  -webkit-animation-name: fadeInRightShort;
  animation-name: fadeInRightShort;
}
.delay-300ms {
  animation-delay: 0.3s;
}
.delay-400ms {
  animation-delay: 0.4s;
}
.delay-500ms {
  animation-delay: 0.5s;
}
.delay-600ms {
  animation-delay: 0.6s;
}
.delay-700ms {
  animation-delay: 0.7s;
}
.delay-800ms {
  animation-delay: 0.8s;
}

/* form style */
form {
  margin-top: 25px;
}
form input{
  width: 100%;
  padding: 12px;
  display: block;
  letter-spacing: 2px;
  border: 2px solid #d7cfcd;
  outline: none;
}
form textarea {
  width: 100%;
  padding: 12px;
  display: block;
  letter-spacing: 2px;
  border: 2px solid #d7cfcd;
  outline: none;
}
form input:focus, form textarea:focus {
  outline: 2px solid #a79a6e;
}
.btn {
  display: block !important;
  margin-top: 25px;
  border-radius: 0 !important;
  padding: 12px !important;
}
.button-primary {
  -webkit-background-color: #398158 !important;
  background-color: #398158 !important;
  color: #eee !important;
  transition: all 0.3s ease-in-out;
  font-family: 'Ikaros Light';
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: 1px solid #d7cfcd !important;
  outline-offset: -0.4em !important;
}
.button-primary:hover {
  transform: translateY(-3px);
  filter: brightness(80%);
  color: #eee !important;
}

.home, .subscription, .message {
  padding-top: 80px;
  padding-bottom: 80px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-background-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  /* z-index: -1; */
}
.overlay-light {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.overlay-error {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-background-color: rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}
.overlay-heading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-background-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-background-color: rgba(23, 37, 42, 0.85);
  background-color: rgba(34, 38, 41, 0.85);
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .side-image {
    height: 550px;
    max-height: 550px;
    clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
  }
}
@media only screen and (max-width: 768px) {
  .side-image {
    height: 450px;
    max-height: 450px;
  }
}

/* navbar */
.navbar {
  font-family: 'Ikaros Light' !important;
  font-size: 1em;
  transition: 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .navbar img {
    width: 40%;
  }
  .navbar-brand {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar img {
    width: 110%;
  }
  .navbar-collapse {
    background-color: rgba(2, 56, 33, 0.8);
  }
}
.navbar-nav .nav-item:not(:last-of-type):hover {
  border-bottom: 3px solid #a79a6e;
  transition: 0.3s ease;
}
.navbar-toggler {
  padding: .50rem 1rem !important;
  border-radius: 0px !important;
  outline: none !important;
}
.navbar-brand {
	width: 40%;
}
.nav-item.social a {
  display: inline-block;
  padding-right: 0.3em;
  color: #92acb1 !important;
  transition: 0.3s ease;
}
.nav-item.social a:hover {
  color: #eee !important;
}

/* modal */
.modal-body {
  -webkit-background: url('../img/patterns/TC_pattern_B.jpg') 20% 0 repeat fixed;
  background: url('../img/patterns/TC_pattern_B.jpg') 20% 0 repeat fixed;
  -webkit-background-size: contain;
  background-size: contain;
}
.modal-body p {
  z-index: 2;
}
.modal .btn {
  font-size: 1em;
  margin: 0;
}
.modal span {
  color: #eee !important;
}
.modal-body-content .close {
  opacity: 1 !important;
  float: none;
}
.modal-body-content {
  -webkit-background-color: rgba(238, 238, 238, 0.75);
  background-color: rgba(238, 238, 238, 0.75);
  outline: 6px double #023821;
  outline-offset: -0.4em;
  color: #1a1a1d;
}

/* carousel */
#carousel {
  height: 100vh !important;
}
#carousel .carousel-item {
  height: 100vh !important;
  width: 100%;
}
.carousel-content {
  -webkit-background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
  border: 4px groove #eee;
  margin-top: 30vh;
  padding: 50px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 7% !important;
}
#image1 {
  background-image: url('../img/venue/TC_interior.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -99;
}
#image2 {
  background-image: url('../img/venue/TC_wine&tea_collection.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#image3 {
  background-image: url('../img/venue/TC_tea_shelf.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* story */
.story {
  position: relative;
  color: #d7cfcd;
}
@media only screen and (max-width: 768) {
  .story img {
    max-height: 400px;
  }
}
.story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story-content {
  padding: 5rem 1.5rem;
}
.story-content p{
  text-align: center;
  line-height: 1.8;
}

/* about */
.about {
  position: relative;
}
.about-section {
  background-color: rgba(74, 105, 85, 0.6);
  outline: 2px solid #eee;
  outline-offset: -1em;
}
.about-section p {
  line-height: 1.8;
}

/* menu */
.menu {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .menu-image-left,
  .menu-image-right {
    padding: 0 !important;
    max-height: 400px;
  }
  .menu-image-left img,
  .menu-image-right img {
    max-height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  .menu-image-left {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem !important;
  }
  .menu-image-right {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem !important;
  }
}
.menu-image-left .carousel-drink .carousel-item {
  height: 110vh !important;
}
.menu-image-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu p {
  line-height: 1.5;
}
.menu-drinks-section {
  background-color: rgba(74, 105, 85, 0.6);
  width: 100%;
  outline: 2px solid #eee;
  outline-offset: -1em;
}
.menu-section .subheading {
  color: #c4a944;
}
.drinks-category {
  border: 5px double #15321f;
  color: #15321f;
  padding: 12px;
  margin-bottom: 60px;
  width: 60%;
}
.drinks {
  margin-bottom: 40px;
}
.drinks-name {
  color: #eee;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2 !important;
}
.drinks-extra-info {
  font-size: 0.8em !important;
}
.drinks-info {
  color: #aaa;
  font-size: 1em;
  line-height: 1.2 !important;
}

/* drink */
.drink {
  background-color: #023821;
  color: #eee;
  position: relative;
}
.drink p {
  line-height: 1.8;
  padding: 0 3rem;
}
.drink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.drink .drink-section {
  padding: 5rem 1.5em;
}
@media only screen and (max-width: 768px) {
  .drink img {
    max-height: 450px;
  }
}

/* team member */
.team-member {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .team-member img {
    width: 100% !important;
  }
  .team-member-info {
    height: auto !important;
    text-align: center !important;
  }
}
.team-member img {
  display: block;
  max-width: 100%;
  max-height: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-member-info {
  background-color: #335442;
  height: auto;
}
.team-member h1 {
  line-height: 1 !important;
}
.team-member p {
  line-height: 1.8;
}
.title {
  color: #c4a944 !important;
  font-size: 1.3em;
}

/* contact */
.contact {
  color: #eee;
  position: relative;
  width: 100%;
}
.contact a {
  color: #eee;
}
.contact p {
  font-size: 1em;
}
.contact-info {
  background-color: rgba(74, 105, 85, 0.8);
  outline: 2px solid #eee;
  outline-offset: -1em;
}
.contact-info h2 {
  font-size: 2.4em;
  line-height: 1 !important;
}
.contact-info i {
  font-size: 1.2em;
}
.contact-info a:hover {
  color: #c4a944;
  transition: 0.3s ease;
}

/* location */
.location {
  -webkit-background-color: #335442;
  background-color: #335442;
  color: #eee;
}
@media only screen and (max-width: 768px) {
  .testimonial .slide {
    height: 380px;
    text-align: center !important;
  }
  .testimonial .slide .container-fluid {
    padding-top: 0.75rem !important;
  }
}

/* testimonial  */
.testimonial {
  background-image: url('../img/background/testimonial.jpg');
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.testimonial .slide {
  background-color: rgba(2, 56, 33, 0.7);
  box-shadow: 0px 0px 5px #000;
  outline: 1px solid #eee;
  outline-offset: -0.8em;
  margin-top: 0.65em !important;
  margin-bottom: 0.65em !important;
  //height: 35vh;
}
.testimonial .slide blockquote {
  font-size: 1.1em;
  margin-bottom: 1em;
}
.testimonial .slide p {
  font-family: 'Komoda';
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 6px;
  color: #c4a944;
}
.testimonial .slide .image {
  position: relative;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background-color: #fff;
  overflow: hidden;
}
.testimonial .slide .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
}
.testimonial .slide .quotes {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide-dots.ul, .slide-dots li {
  display: inline;
}
.star {
  font-size: 2em;
}
.star:after {
  content: "\2605";
  font-style: normal;
}
.star:not(:last-child) {
  color: #D31A22;
}

/* subscription */
.subscription {
  background-image: url('../img/cocktails/TC_T-Tonic_Rosemary&Lime.jpg');
  color: #eee;
  position: relative;
  -webkit-background-size: cover;
  -webkit-background-position: center;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* footer */
footer {
  -webkit-background-color: #335442;
  //background-color: #335442;
  background-color: #023821;
  color: #eee;
  padding: 40px 0;
}
footer p {
  font-size: 1.1em;
}
.footer-subsection {
  padding: 30px 20px;
}
footer h3 {
  font-size: 2.5em;
}
footer img {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  footer img {
    width: 85% !important;
  }
}

/* social icons */
.social-icon {
  padding: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.social-icon li a {
  -webkit-background: #fff;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #5c5c5c;
  color: #023821;
  font-size: 14px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-top: 12px;
  margin-right: 16px;
  top: 0;
  position: relative;
  padding: 0;
}
.social-icon li a:hover {
  transform: translateY(-5px);
  filter: brightness(80%);
}

/* copyright section */
.copyright {
  -webkit-background-color: #1a1a1d;
  background-color: #222629;
  color: #eee;
  padding: 10px 0;
  text-align: center;
  font-size: 0.8em;
}
.copyright .heading {
  font-size: 1.8em !important;
}

/* 404 error page  */
.error {
  margin-top: 150px;
}
.error h1 {
  font-size: 7em;
  color: #fbfbfb;
  line-height: 1.5 !important
}
.error h3 {
  font-family: 'Ikaros Light';
  font-weight: bold;
  color: #c4a944;
  font-size: 1.4em;
  line-height: 2 !important;
}
.error-background {
  background-image: url('../img/venue/TC_wine&tea_collection.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Timeout logo */
.timeout-logo {
  background-image: url('../img/icon/timeout.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 85px;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
  width: 220px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
